body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header,
footer {
    background-color: rgb(27, 127, 167);
    font-weight: bold;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

header {
    justify-content: center;
}

.root {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.root input {
    margin: 5vw;
}

.root p {
    width: 80%;
    text-align: center;
}

#cmd {
    word-wrap: break-word;
}